*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #fffcf2;
}

#header{
    margin: 10px 20px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 15px;
    padding: 10px;
    color: #000;
} 



.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

#log, #state{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 100px;
    padding: 10px;
    font-size: 28px;
    text-align: center;
    color: #fff;
    background-color: #25a244;
    border-radius: 15px;
    margin: 20px;

}

.button-container{
    display: flex;
    justify-content: space-between;
}

button{
    background-color: darkgrey;
    border: none;
    color: #fff;
    padding: 15px;
    margin: 0px 15px;
    border-radius: 10px;
}